{% extends "layout.njk" %}
{% set title = "Sign in" %}
{% set scriptEntry = "/js/sign-in.js" %}
{% block body %}
    <form method="post" accept-charset="UTF-8" action="/sign-in">
        <input id="csrf" type="hidden" name="csrf" value="{{ csrf }}"/>
        <h3>
            <label for="username">Username</label>
        </h3>
        <input id="username" type="text" name="username" value="{{ username }}"/>
        <h3>
            <label for="password">Password</label>
        </h3>
        <input id="password" type="password" name="password"/>
        <input id="submit" type="submit" value="Submit"/>
    </form>
{% endblock %}