export DATABASE_HOST=
export DATABASE_USERNAME=
export DATABASE_PASSWORD=
export DATABASE_NAME=effective_octo
export DATABASE_PORT=5432
export SESSION_SECRET=
export DOMAIN=
export DEV_MODE=false
export MAX_MESSAGE_AGE="5 minutes"
export TEST_USERNAME=
export TEST_PASSWORD=