{% extends "layout.njk" %}
{% set title = "Users - New" %}
{% block body %}
    <div id="general-errors">
        <ul>
            {% for error in errors.general %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <form method="post" accept-charset="UTF-8" action="/users">
        <input type="hidden" name="csrf" value="{{ csrf }}"/>
        <h3>
            <label for="username">
                Username
            </label>
        </h3>
        <div id="username-errors">
            <ul>
                {% for name, error in errors.username %}
                    {% if error.error or not error.hideByDefault %}
                        {% if error.error %}
                            <li>
                                <b>{{ error.desc }}</b>
                            </li>
                        {% else %}
                            <li style="color: grey">{{ error.desc }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <input id="username" type="text" name="username" value="{{ username }}"/>
        <h3>
            <label for="password">
                Password
            </label>
        </h3>
        <div id="password-errors">
            <ul>
                {% for name, error in errors.password %}
                    {% if error.error or not error.hideByDefault %}
                        {% if error.error %}
                            <li>
                                <b>{{ error.desc }}</b>
                            </li>
                        {% else %}
                            <li style="color: grey">{{ error.desc }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <input id="password" type="password" name="password"/>
        <h3>
            <label for="passwordConfirm">
                Confirm Password
            </label>
        </h3>
        <input id="passwordConfirm" type="password" name="passwordConfirm"/>
        <h3>
            <label for="authority">
                Initial authority
            </label>
        </h3>
        <div>Additional roles may be added after the user has been created.</div>
        <div id="authority-errors">
            <ul>
                {% for name, error in errors.authority %}
                    {% if error.error or not error.hideByDefault %}
                        {% if error.error %}
                            <li>
                                <b>{{ error.desc }}</b>
                            </li>
                        {% else %}
                            <li style="color: grey">{{ error.desc }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <input id="authority" type="text" name="authority" value="{{ authority }}"/>
        <div style="margin-top: 20px">
            <input id="submit" type="submit" value="Submit"/>
        </div>
    </form>
{% endblock %}