{% extends "../layout.njk" %}
{% set title = "Users - New" %}
{% block body %}
    <div id="general-errors">
        <ul>
            {% for error in errors.general %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <form method="post" accept-charset="UTF-8" action="/users">
        <input type="hidden" name="{{ csrf.parameterName }}" value="{{ csrf.token }}"/>
        <h3>
            <label for="username">
                Username
            </label>
        </h3>
        <div id="username-errors">
            <ul>
                {% for error in errors.username %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <input id="username" type="text" name="username"/>
        <h3>
            <label for="password">
                Password
            </label>
        </h3>
        <div id="password-errors">
            <ul>
                {% for error in errors.password %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <input id="password" type="password" name="password"/>
        <h3>
            <label for="passwordConfirm">
                Confirm Password
            </label>
        </h3>
        <input id="passwordConfirm" type="password" name="passwordConfirm"/>
        <h3>
            <label for="authority">
                Authority
            </label>
        </h3>
        <div id="authority-errors">
            <ul>
                {% for error in errors.authority %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        <input id="authority" type="text" name="authority"/>
        <input id="submit" type="submit" value="Submit"/>
    </form>
{% endblock %}